*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

h1 {
    margin: 20px auto;
    color: #ffe50d;
    font-size: 30px;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#display-password {
    padding: 10px;
    text-align: start;
    font-size: large;
}

#error-info {
    color: #fff;
    font-weight: bold;
    background-color: #ff0000;
    margin: auto;
}

.container button {
    background-color: #ffe50d;
    color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid #ffe50d;
}

.container button:hover {
    border: 2px solid #ffe50d;
    background-color: #000;
    color: #ffe50d;
    transition: all .3s ease;
}

.generate-container {
    display: flex;
    justify-content: space-between;
}

.generate-container * {
    width: 48%;
    padding: 5px;
    font-size: 16px;
}

.container .logo {
    text-align: center;
}

.container .logo img {
    width: 120px;
}

@media  (max-width: 768px ) {
    .container {
        width: 90%;
        margin: auto;
    }
    .generate-container {
        align-items: center;
        flex-direction: column;
    }

    .generate-container * {
        width: 80%;
        margin: 15px auto;
    }

    button {
        height: 45px;
    }
}